# Copyright (c) 2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of Code Aurora Forum, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#
#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
        class late_start
        user camera
        group camera system inet input

#start GNSS/Sensor interface daemon
service gsiff_daemon /system/bin/gsiff_daemon
    class late_start
    user system
    group gps qcom_oncrpc net_raw

# on emmc mount the partition containing firmware
on emmc-fs
   mkdir /tombstones 0771 system system
   mount ext4 /dev/block/mmcblk0p16 /tombstones nosuid nodev barrier=1
   mkdir /tombstones/modem 0771 system system
   mkdir /tombstones/lpass 0771 system system
   mkdir /tombstones/wcnss 0771 system system
   mkdir /tombstones/dsps 0771 system system
   mkdir /firmware 0771 system system
   wait /dev/block/mmcblk0p1
   mount vfat /dev/block/mmcblk0p1 /firmware ro shortname=lower
   exec /system/bin/sh /system/etc/init.qcom.modem_links.sh
   exec /system/bin/sh /system/etc/init.qcom.mdm_links.sh
   exec /system/bin/sh /system/etc/init.qcom.thermald_conf.sh
   symlink /system/usr/keylayout/samsung_remote_ir.kl /system/usr/keylayout/gpio_ir_recv.kl
   symlink /system/usr/keylayout/ue_rf4ce_remote.kl /system/usr/keylayout/user-rc-input.kl

on post-fs
   mount ext4 /dev/block/mmcblk0p12 /system ro remount barrier=1

on boot
   write /sys/devices/i2c-3/3-0024/cyttsp_update_fw 1
   write /sys/devices/i2c-3/3-005b/update_fw 1
   write /sys/devices/i2c-3/3-004a/update_fw 1
   start qcamerasvr

service thermald /system/bin/thermald
   class main
   user root
   group root

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
   user root
   disabled

service qosmgrd /system/bin/qosmgr /system/etc/qosmgr_rules.xml
   user system
   group system
   disabled

service kickstart /system/bin/qcks l
    oneshot
    disabled

service mdm_helper /system/bin/mdm_helper
    class main
    onrestart setprop ro.service.mdm_helper_restarted "true"
    disabled

service qrngd /system/bin/qrngd -f
    class main
    user root
    group root

service qseecomd /system/bin/qseecomd
   class late_start
   user system
   group system

# Start kickstart if mdm is detected
on property:ro.baseband=mdm
    mkdir /data/qcks 0770 system system
    start kickstart

# Start up mdm_helper if sglte detected
on property:ro.baseband=sglte
    start mdm_helper

service usf_tester /system/bin/usf_tester
    user system
    group system inet
    disabled

service usf_epos /system/bin/usf_epos
    user system
    group system inet
    disabled

service usf_gesture /system/bin/usf_gesture
    user system
    group system inet
    disabled

service usf_p2p /system/bin/usf_p2p
    user system
    group system inet
    disabled

service usf_hovering /system/bin/usf_hovering
    user system
    group system inet
    disabled

service usf-post-boot /system/bin/sh /system/etc/usf_post_boot.sh
    class late_start
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start usf-post-boot

